/*  Шрифты*/

@font-face {
  font-family: 'PT Sans';
  src:url(../fonts/ptsans.woff);
  src:url(../fonts/ptsans.woff2);
}

@font-face {
  font-family: 'PT Sans bold';
  src:url(../fonts/ptsansbold.woff);
  src:url(../fonts/ptsansbold.woff2);
}
/*  Шрифты*/

* {
    box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.visually-hidden { 
  position: absolute; 
  overflow: hidden; 
  clip: rect(0 0 0 0); 
  height: 1px; width: 1px; 
  margin: -1px; padding: 0; border: 0; 
}

body { 
  font-family: 'PT Sans', Arial, Sans-serif;
  font-weight: 400;
  line-height: 24px;
  color: #333333;
  text-transform: uppercase;
  font-size: 14px;
  min-width: 100%;
  background: #f2f2f2;
  width: 100%;
}
h1, p {
  margin: 0;
  padding: 0; }

a {
  text-decoration: none;
}

li {
  list-style: none;
}
.containe {
  margin: 0 auto;
}
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
  background: #fff;
}

.main-header {
  position: relative;
}

.logo {
  position: absolute;
  left: 531px;
  width: 138px;
}

.main-menu {

  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 56px;
}

.menu-item {
  text-align: center;
  width: 20%;
}

.menu-item:nth-child(2) {
margin-right: 20%;
}


.menu-item a {
  font-family: "PT sans bold";
  line-height: 26px;
  color: #000;

}

.menu-item a:hover,
.menu-item a:focus {
  color: #81b3d2;
  outline: none;
}

.menu-item a:active {
  color: #cacaca;
}

.main-pic-bg {
  padding-top: 75px;
  width: 100%;
  height: 509px;
  background:   url(../img/main-bg-cut.png) no-repeat bottom,
  url(../img/bg_photo.jpg) no-repeat  center;
  margin-bottom: 60px;

}
.main-bg-small{
  width: 456px;
  margin: 0 auto;
}

.main-discription{
  text-align: center;
}

.main-title {
  font-size: 21px;
  font-family: "PT Sans", Arial, sans-serif;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 25px;
}

.main-title + p { 
 line-height: 26px;
 padding-bottom: 50px;
 }

.view-city {
  display: flex;
  max-height: 256px;
}
.view-small-block {

  padding-top: 48px;
  padding-left: 60px;
  padding-right: 30px;
  width: 33.33%;
  max-height: 256px;
  background: #81b3d2;
  text-align: center;
  vertical-align: middle;
  color: white;
}
.view-big-block {
  width: 66,67%;
}

.тhree-blocks {
  display: flex;
}

.block-item {
  width: 33.33%;
  text-align: center;
  padding: 50px 61px;
}
.p-bold {
  font-family: "PT sans bold";
  font-size: 21px;
  line-height: 21px;
}

.features {
  background: #eeeeee;
}

.reigstration-center {
  position: relative;
  display: flex;
  margin: 0 auto;
  width: 570px;
  flex-direction: column;
  align-items: center;
}

.top-form {
  display: flex;
  flex-direction: column;
}

.bottom-from {
  display: flex;
  flex-direction: row;
  justify-content: start;
}

.second-title {
  font-family: "PT sans bold", Arial, sans-serif;
  font-size: 30px;
  line-height: 36px;

}

.btn { 
 background: transparent;
 border: none;
 text-transform: uppercase;
  color: white;
  font-family: "PT sans bold", Arial, sans-serif;
  font-size: 21px
 }

 .brown {
  background: #766357;
  width: 567px;
  height: 86px;
 }

.show-form {
  padding: 55px;
  background: white;
  width: 567px;
  height: 395px;
  box-sizing: border-box;
  position: absolute;
  top: 170px;
  font-family: "PT sans bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;

}

.top-form-item {
  display: flex;
  justify-content: space-between;
  margin-bottom: 30px;
  align-items: center;
}

.top-form-item input {
  width: 345px;
  height: 38px;
  font-family: "PT sans bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 10px;
  padding-right: 10px;

  border: none;
  background: #f2f2f2;
}

.bottom-form {
  display: flex;
  justify-content: space-between;
}

.bottom-form-item input {
  width: 345px;
  height: 38px;
  font-family: "PT sans bold", Arial, sans-serif;
  font-size: 14px;
  line-height: 26px;
  text-transform: uppercase;
  padding-left: 15px;
  padding-right: 10px;
  border: none;
  background: #f2f2f2;
  width: 38px;
    overflow: hidden;
}

.bottom-form-item .gray-btn {

 margin: 0;
 width: 38px;
 border: none;
 background: #f2f2f2;;
 height: 38px;

}


.top-form-tiem {
  margin-left: auto;
}
 
.center-footer li {
  display: inline-block;
  background: #81b3d2;
}

.bg-form {
  background: url(../img/hotels_header.jpg) no-repeat center;
}

.form-hotel {
  color: white;
  font-size: 14px;
}

.header-from {
  border: none;
}

.header-from legend { 
  font-family: "PT sans bold", Arial, sans-serif;
  font-size: 16px;
  line-height: 21px;
 }

 .header-from label { 
  font-family: "PT sans", Arial, sans-serif;
  font-size: 14px;
  line-height: 21px;
 }

